*{


}
body{
  background-color: #f1f0f0;
}
nav div, nav ul li{
  background: #f1f0f0;
}
table, td, tr, th{
  background-color: #f1f0f0;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e2e2e2;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.popup-content {
  min-width: 400px;
  margin: 0 auto;
}

.popup-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}


/* Notification.css */

.notification-container {
  position: fixed;
  top: 50px;
  right: 20px;
  width: 300px;
  height:200px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 9999;
}

.notification-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification-list {
  margin-top: 10px;
}

.notification-item {
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.notification-item:last-child {
  border-bottom: none;
}

.notification-item:hover {
  background-color: #f5f5f5;
}

.notification-header h3 {
  margin: 0;
  font-size: 18px;
}

.notification-header button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #007bff;
}
